body{
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    background-image: url("background.png");
    background-repeat: repeat;
    
}

/* Custom CSS to set the width and center the div */
.custom-div {
    width: 70%;
    margin: 0 auto; /* Center the div horizontally */
}

.custom-title {
    margin: 10px auto;
    padding: 5%;
    color: white; /* Set the desired text color */
    text-shadow:
    -1.5px -1.5px 0 #000, /* Top-left */
    1.5px -1.5px 0 #000, /* Top-right */
    -1.5px 1.5px 0 #000, /* Bottom-left */
    1.5px 1.5px 0 #000; /* Bottom-right */
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


.master-container {
  margin-top: 5%;
}

.card {
  display: flex ;
  align-items: center ;
  justify-content: center ;
  height: 200px !important;
  width: 200px !important;
}

.card-body {
  display: flex ;
  align-items: center ;
  justify-content: center ;
  height: 100%;
  width: 100%;
  padding: 2px;
}

.card-body img {
  max-width: 100%;
  max-height: 100%;
}

.star-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.star-icon i {
  color: gray;
}

.star-icon i.clicked {
  color: yellow;
}

#submit-button {
  background-color: rgb(255, 255, 255);
  width: 200px;
  font-weight: bold;
  box-shadow: 0px 0px 2px 0px #000000;
  font-size: 40px;
}

.small-button {
  font-size: 14px;
  padding: 6px 12px;
  max-width: fit-content;
  width: min-content;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#drawing-canvas {
  box-shadow: 0px 0px 2px 0px #000000;
  background-color: rgb(255, 255, 255);
}

button {
  --c:  #ffff97; /* the color*/
  
  box-shadow: 0 0 1px 0 inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

button {
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
}