body{
    background-color: rgb(244, 250, 255);
    color: rgb(0, 0, 0);
    /*background-image: url("background.png");
    background-repeat: repeat;*/
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgb(197, 197, 197) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(213, 213, 213) 1px, transparent 1px);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Custom CSS to set the width and center the div */
.custom-div {
    width: 70%;
    margin: 0 auto; /* Center the div horizontally */
    margin-top: 2%;
}

.custom-title {
    padding: 15px;
    color: white; /* Set the desired text color */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-size: 40px;
}

.emph-title{
  font-size: 60px;
  -webkit-text-stroke-width: 2px;
}

.custom-title h1 {
  font-style: italic;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
}
  
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bounce-in {
  animation: bounceIn 1s ease;
}

@keyframes bounceIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    transform: translateY(30px);
    opacity: 1;
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.master-container {
  margin-top: 2%;
}

.container{
}

.card {
  border: 2px solid rgb(80, 85, 86);
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.card-footer {
  height: 100%;
  width: 100%;
  background-color: rgb(192, 236, 242);
  font-family: 'Courier New', Courier, monospace;
}

.card-body {
  height: 100%;
  width: 100%;
  padding: 2px;
  background-color: #fff;
  border-radius: 5px;
}

.card-body img {
  max-width: 100%;
  max-height: 100%;
}

.star-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.star-icon i {
  color: gray;
}

.star-icon i.clicked {
  color: yellow;
}

.small-button {
  font-size: 14px;
  padding: 6px 12px;
  max-width: fit-content;
  width: min-content;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#drawing-canvas {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 5px;
}

.drawing-interface{
  margin-top: 2%;

}

.inner-interface{
  border: 2px solid rgb(80, 85, 86);
  border-radius: 5px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.inner-interface {
  border: 2px solid rgb(80, 85, 86);
  border-radius: 5px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 767px) {
  .inner-interface {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .inner-interface {
    width: 40%;
  }
}

.custom-button {
  background-color: rgb(255, 255, 255);
  width: 49%;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;  
  color: rgb(255, 255, 255);
  --c:  #8aabff; /* the color*/
  height: 65px;
  
  box-shadow: 0 0 0.1px 0 inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  transition: background-size .4s, background-position 0s .4s;
}

.custom-button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
  color: #ffffff; /* Add the desired font color */
}

.custom-button:active {
  background-color: var(--c);
  color: #fff;
}

.button-container {
  background-color: #97d6de;
  border-top: 2px solid rgb(80, 85, 86);
}

