body{
  background-color: rgb(244, 250, 255);
  color: rgb(0, 0, 0);
  /*background-image: url("background.png");
  background-repeat: repeat;*/
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgb(197, 197, 197) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(213, 213, 213) 1px, transparent 1px);
}

.dark-mode {
  background-color: rgb(16 16 21) !important;
  color: white !important;
  background-image:
  linear-gradient(to right, rgb(77, 77, 77) 1px, transparent 1px),
  linear-gradient(to bottom, rgb(72, 72, 72) 1px, transparent 1px);
}

.dark-mode-box {
  background-color: rgb(45, 46, 52) !important;
}

/* Custom CSS to set the width and center the div */
.custom-div { 
    width: 70%;
    margin: 0 auto; /* Center the div horizontally */
    margin-top: 2%;
    padding-bottom: 7%;
}

.custom-title {
    padding: 15px;
    color: white; /* Set the desired text color */
    text-shadow:
      1.5px 1.5px 0 #000,
      -1.5px -1.5px 0 #000,  
      1.5px -1.5px 0 #000,
     -1.5px 1.5px 0 #000,
      1.5px 1.5px 0 #000;
    font-size: 50px;
    font-weight: bold;
    font-size: 40px;
    font-family: sans-serif;
}

.emph-title{
  font-size: 55px;
}

.custom-title h1 {
  font-style: italic;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
}
  
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bounce-in {
  animation: bounceIn 1s ease;
}

@keyframes bounceIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    transform: translateY(30px);
    opacity: 1;
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.master-container {
  position: relative;
  min-height: 100vh;
  margin-top: 2%;
  }

.container{
}

.card {
  border: 2px solid rgb(80, 85, 86);
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.card-footer {
  height: 100px;
  background-color: rgb(192, 236, 242);
  font-family: 'Courier New', Courier, monospace;
  padding-left: 1% !important;
  padding-right: 1% !important;
  overflow:hidden ;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
}

.card-body {
  height: 100%;
  width: 100%;
  padding: 2px;
  background-color: #fff;
  border-radius: 5px;
}

.card-body img {
  max-width: 100%;
  max-height: 100%;
}

.star-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: large;
  text-shadow:
  1.5px 1.5px 0 #fff,
  -1.5px -1.5px 0 #fff,  
  1.5px -1.5px 0 #fff,
 -1.5px 1.5px 0 #fff,
  1.5px 1.5px 0 #fff;
}

.star-icon i {
  color: gray;
  
}

.star-icon i.clicked {
  color: yellow;
}

.small-button {
  font-size: 14px;
  padding: 6px 12px;
  max-width: fit-content;
  width: min-content;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.drawing-interface{
  margin-top: 10px !important;
  height: 350px;
  width: 350px;
  margin: 0 auto;
}

@media (max-width: 767px) { /* Mobile devices */
  .drawing-interface {
    min-width: 350px;
    max-width: 350px;
  }
}

@media (min-width: 768px) { /* Desktop devices */
  .drawing-interface {
    min-width: 450px;
    max-width: 450px;
    min-height: 450px;
    max-height: 450px;
  }
}

.inner-interface{
  border: 2px solid rgb(80, 85, 86);
  border-radius: 5px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

#drawing-canvas {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 83%;
  border-radius: 5px;
}

.button-container {
  background-color: #97d6de;
  border-top: 2px solid rgb(80, 85, 86);
  border-radius: 5px;
  height: 17%;
}

.custom-button {
  background-color: rgb(255, 255, 255);
  width: 49%;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;  
  color: rgb(255, 255, 255);
  --c:  #8aabff; /* the color*/ 
  height: 100%;
  
  box-shadow: 0 0 0.1px 0 inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  transition: background-size .4s, background-position 0s .4s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
  color: #ffffff; /* Add the desired font color */
}

.custom-button:active {
  background-color: var(--c);
  color: #fff;
}

.slider {
  -webkit-appearance: none;
  background: #ffffff;
  outline: none;
  -webkit-transition: .2s;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  margin: 0 auto;
  height: 70%;
  width:fit-content ;
}

.slider:hover {
  background: rgb(239, 239, 239);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 27px;
  height: 27px;
  background-color: rgb(0, 225, 255);
  cursor: pointer;
  background: var(--dynamicImage);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
}

#myRangeTheme{
  --dynamicImage: url("theme.png");
}

.footer{
  background-color: #97d6de;
  border: 2px solid rgb(80, 85, 86);
  margin-top: 2%;
  position: fixed !important;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.footer-container{
  align-items: center;
  margin: 0 auto;
}

.feedback-button{
  background-color: #fff;
  color: #fff;
  text-shadow:
  1.5px 1.5px 0 #000,
  -1.5px -1.5px 0 #000,  
  1.5px -1.5px 0 #000,
 -1.5px 1.5px 0 #000,
  1.5px 1.5px 0 #000;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.icon-image{
  height: 30px;
}

.settings-icon {
  width: 30px;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}

.settings-tab {
  display: none;
  /* Styling for the settings tab */
  position: absolute;
  top: -82px; /* Adjust the value to position the tab above the icon */
  /* Rest of the styles */
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 4px;
}

.footer span {
  display: block;
  font-size: 11px;
}

.email-tab {
  display: none;
  /* Styling for the settings tab */
  position: absolute;
  top: -28px; /* Adjust the value to position the tab above the icon */
  /* Rest of the styles */
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 4px;
}

.email-icon{
  width: 30px;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}

.custom-title img{
  margin-bottom: 10px;
  max-width: 700px;
}

@media (max-width: 767px) { /* Mobile devices */
  .custom-title img {
    min-width: 350px;
    max-width: 350px;
  }
}

@media (min-width: 768px) { /* Desktop devices */
  .custom-title img {
    min-width: 700px;
    max-width: 700px;
  }
}

.index-container{
  padding: 45px;
}

.inverted-color {
  -webkit-filter: invert(1);
  filter: invert(1);
}