
{% extends "base.html" %}

{% block manifest%}
  <!-- MANIFEST -->
  <link rel="manifest" href="/manifest.json" />
{% endblock %}


{% block content %}

<div class="d-flex align-items-center min-vh-100 box-outline-no">
<div class='master-container index-container container text-center' style='margin-bottom:100px'>
    
  <!--Title-->
  <div class="text-center custom-title">
      <!--<span class=''> Today, finish this drawing of a:</span>-->
      <img src="https://fontmeme.com/permalink/230708/6d7b11b0ef475bbee778dfe5f61a4c73.png" alt="handwriting-fonts" border="0">
      <div class='bounce-in'>
        <span class=" emph-title">"{{word}}"</span>
      </div>
  </div>

  <!-- Drawing interface -->
  <div class="text-center drawing-interface ">

    <!-- Pencil Man -->
    <div id="pencil-container" class="container">
      <div class="row">
        <div class="col-2 p-0">
          <img id="pencil-image" src="/static/media/pencil_neutral.png" class="img-fluid">
        </div>
        <div class="col-10">
          <div id="pencil-text" class="bubble left want-to-invert">
            <span class='want-to-invert'> Be Creative! </span>
          </div>
        </div>
      </div>
    </div>    

    <div class='inner-interface '>

      <!-- Canvas -->
      <canvas id="drawing-canvas" width="400" height="350" class='want-to-invert'></canvas>

      <!-- Submit button and Back button -->
      <div class="row-col-2 text-center button-container d-flex want-to-gray">
        <div class='col-md-6'>
          <button id="back-button" class="btn mx-auto back-button custom-button" onclick="undoLastStroke()"><i class="fas fa-undo"></i></button>
        </div>
        <div class='col-md-6'>
          <button id="submit-button" class="btn mx-auto submit-button custom-button" onclick="submitDrawing()"> Submit </button>
        </div>
      </div>

    </div>
  </div>

</div>
</div>

{% endblock %}


{% block scripts %}

  <!-- SUBMIT BUTTON -->
  <script>
      function submitDrawing() {
          var canvas = document.getElementById('drawing-canvas');
          var image = canvas.toDataURL(); // Convert canvas to base64 image
      
          // Create a form and append the image data
          var form = document.createElement('form');
          form.action = '/submit';
          form.method = 'POST';
          // form.enctype = 'multipart/form-data'; // Set the enctype attribute
      
          var input = document.createElement('input');
          input.type = 'hidden';
          input.name = 'image';
          input.value = image;

          var input2 = document.createElement('input');
          input2.type = 'hidden';
          input2.name = 'comment';
          input2.value = document.getElementById('pencil-text').textContent;
      
          form.appendChild(input);
          form.appendChild(input2);
          document.body.appendChild(form);
      
          // Submit the form
          form.submit();
      }
  </script>

  <!-- CANVAS DRAWING -->
  <script src="/static/js/canvas.js"></script>

  <!-- RANDOM LINES -->
  <script src="static/js/random_lines.js"> </script>
  <script> var seed = {{ seed }}; </script>

  <!-- SERVICE WORKER -->
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register("/service-worker.js?v=1")
          .then(function(registration) {
            console.log('Service Worker registered with scope:', registration.scope);
          })
          .catch(function(error) {
            console.error('Service Worker registration failed:', error);
          });
      });
    }
  </script>

{% endblock %}
