
</html>

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<meta charset="UTF-8">
<head>
    <title>Finish the Drawing!</title>

    <link rel="icon" href="{{ url_for('static', filename='media/favicon.ico') }}" sizes="any">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='media/apple-touch-icon.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="manifest" href="/manifest.json" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#161616">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Immerse Lingual is a web app that allows you to read classical Chinese texts with a built-in dictionary.">

</head>
<body>


<div class='master-container'>
    
    <!--Title-->
    <div class="display-1 text-center custom-title fade-in" style='padding-top:50px'>
        <h1> Today, finish this drawing of a: "{{word}}"</h1> 
    </div>

    <!--Canvas-->
    <div class="text-center">
        <canvas id="drawing-canvas" width="400" height="350" style="background-color:#D3D3D3"></canvas>
    </div>

    <!-- Submit button -->
    <button id="submit-button" class="btn fixed-bottom mx-auto" onclick="submitDrawing()">Submit</button>

</div>

<!-- Footer -->
<div class="position-fixed bottom-0 start-50 translate-middle-x mb-3">
    <div class="tab bg-dark text-white rounded shadow" id="install-tab">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="tab-content d-flex align-items-center justify-content-center" style="margin-left: 100%;">
                        <a id="install-button" style="cursor: pointer;">
                            <img src="{{ url_for('static', filename='media/icon-192.png') }}" style="width: 70px; height: 70px;" alt="Download">
                        </a>
                        <span class="ml-2 text-white lines-2"><strong>Download the app now!</strong></span>
                    </div>
                </div>
                <!--
                <div class="col-6">
                    <div class="text-white text-center lines-2 text-xs">
                        <p>&copy; Immerse Lingual 2023</p>
                        <div class="email">
                            <p>immerselingual@gmail.com</p>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
    <div class="up-arrow-button" id="up-arrow-button" style="display: none;">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
</div>  

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--Bootstrap JS-->
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<!--Service Worker-->
<script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register("/service-worker.js?v3")
          .then(function(registration) {
            console.log('Service Worker registered with scope:', registration.scope);
          })
          .catch(function(error) {
            console.error('Service Worker registration failed:', error);
          });
      });
    }
</script>
<!--Download Button-->
<script>
    let deferredPrompt;

    window.addEventListener('beforeinstallprompt', (event) => {
      // Prevent the default prompt from showing
      event.preventDefault();
      // Store the event for later use
      deferredPrompt = event;
      // Display the install button or trigger the installation automatically
      // based on your user experience strategy
    });

    const installButton = document.getElementById('install-button');

    installButton.addEventListener('click', () => {
    if (deferredPrompt) {
        // Show the installation prompt
        deferredPrompt.prompt();
        // Wait for the user's response
        deferredPrompt.userChoice.then((choiceResult) => {
        // Reset the deferredPrompt variable
        deferredPrompt = null;
        // Handle the user's choice (e.g., log the result)
        console.log('User choice:', choiceResult.outcome);
        });
    }
    });

    $(document).ready(function() {
        const installTab = $('#install-tab');
        const upArrowButton = $('#up-arrow-button');
    
        // Hide the tab initially and show the up arrow button
        installTab.hide();
        upArrowButton.show();
    
        // Move the dot up and toggle tab visibility when the dot is clicked
        upArrowButton.on('click', function() {
            if (installTab.is(':hidden')) {
                // Show the tab
                upArrowButton.animate({ bottom: installTab.outerHeight() });
                installTab.slideDown();
            } else {
                // Hide the tab
                upArrowButton.animate({ bottom: 30 });
                installTab.slideUp();
            }
        });
    
        // Move the dot up and toggle tab visibility when the tab is clicked
        installTab.on('click', function() {
            if (installTab.is(':hidden')) {
                // Show the tab
                upArrowButton.animate({ bottom: installTab.outerHeight() });
                installTab.slideDown();
            } else {
                // Hide the tab
                upArrowButton.animate({ bottom: 30 });
                installTab.slideUp();
            }
        });
    });
    

</script>

<!-- Drawing -->
<script>
    // Drawing

    // Submit the drawing
    function submitDrawing() {
        var canvas = document.getElementById('drawing-canvas');
        var image = canvas.toDataURL(); // Convert canvas to base64 image
    
        // Create a form and append the image data
        var form = document.createElement('form');
        form.action = '/submit';
        form.method = 'POST';
    
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'image';
        input.value = image;
    
        form.appendChild(input);
    
        document.body.appendChild(form);
    
        // Submit the form
        form.submit();
    }

    window.addEventListener('load', function() {
    // Variables for canvas and drawing
    var canvas = document.getElementById('drawing-canvas');
    var context = canvas.getContext('2d');
    var isDrawing = false;
  
    // Event listeners for drawing
    canvas.addEventListener('mousedown', startDrawing);
    canvas.addEventListener('mousemove', draw);
    canvas.addEventListener('mouseup', stopDrawing);
    canvas.addEventListener('mouseout', stopDrawing);
  
    // Start drawing
    function startDrawing(event) {
      isDrawing = true;
      draw(event);
    }
  
    // Draw on the canvas
    function draw(event) {
        if (!isDrawing) return;
        var rect = canvas.getBoundingClientRect();
        var x = event.clientX - rect.left;
        var y = event.clientY - rect.top;
    
        context.lineWidth = 5;
        context.lineCap = 'round';
        context.strokeStyle = 'black';
    
        context.lineTo(x, y);
        context.stroke();
        context.beginPath();
        context.moveTo(x, y);
    }
    
  
    // Stop drawing
    function stopDrawing() {
      isDrawing = false;
      context.beginPath();
    }
    
    // Add random lines to the canvas
    function addRandomLines() {
        var numLines = 4; // Number of random lines to draw
        var lineLength = 50; // Length of the random lines
        var lineWidth = 5; // Width of the random lines
    
        for (var i = 0; i < numLines; i++) {
        var x1 = Math.random() * canvas.width;
        var y1 = Math.random() * canvas.height;
        var angle = Math.random() * 2 * Math.PI; // Random angle in radians
    
        var curveFactor = Math.random() * 0.5 + 0.5; // Random curve factor between 0.5 and 1.0
    
        var x2 = x1 + lineLength * curveFactor * Math.cos(angle);
        var y2 = y1 + lineLength * curveFactor * Math.sin(angle);
    
        context.lineWidth = lineWidth;
        context.lineCap = 'round';
        context.strokeStyle = 'black';
    
        context.beginPath();
        context.moveTo(x1, y1);
        context.quadraticCurveTo((x1 + x2) / 2, (y1 + y2) / 2, x2, y2);
        context.stroke();
        }
    }
    
  
  
    // Call the function to add random lines when the page loads
    addRandomLines();
  });
  
    
</script>


</body>
</html>
