
{% extends "base.html" %}

{% block content %}

<!-- Title and Content -->
<div class='master-container'>
  <!-- Title -->
  <div class="text-center custom-title fade-in">
      <p class='h2 font-weight-bolder'> Today's Submissions </p>
  </div>
  
<!-- Submissions -->
<div class="custom-div fade-in text-center fade-in" id="books" style='margin-bottom:80px'>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for submission in submissions %}
      <div class="col-md-3 my-3">
        <div class="card  {% if loop.index0 == 0 %}first-card{% endif %} {% if loop.index0 == 1 %}second-card{% endif %} {% if loop.index0 == 2 %}third-card{% endif %}">
          {% if loop.index0 < 3 %}
          <div class='podium'>  
            {% if loop.index0 == 0 %} <i class="fa-solid fa-trophy" style="color: #ffc800;"></i>{% endif %}
            {% if loop.index0 == 1 %} <i class="fa-solid fa-trophy" style="color: silver"></i> {% endif %}
            {% if loop.index0 == 2 %} <i class="fa-solid fa-trophy" style="color: #cd7f32;"></i> {% endif %} 
          </div>
          {% endif %}
          <div class="card-body want-to-invert">
            <div class="star-icon"> 
              <i class="bi bi-star-fill"
                {% if request.cookies.get('voted_image') %}
                  {% if submission.id not in request.cookies.get('voted_image') %} onclick="toggleStar(this, '{{ submission.id }}')"  {% endif %} 
                  {% if submission.id in request.cookies.get('voted_image') %} style="color: gold;" {% endif %}
                {% else %}
                  onclick="noSubmission()"
                {% endif %}
              > {{ submission.votes }}  
              </i>
            </div>
            <img src="{{ submission.image }}" alt="Submission Image" class='submission-image'>
          </div>
          <div class="card-footer"><span class='image-description'>{{ submission.message }}</span></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



</div>

{% endblock %}
  
  
{% block scripts %}

  <!-- Voting -->
  <script>
    function toggleStar(icon, id) {
      icon.classList.toggle("text-gray");
      icon.classList.toggle("text-warning");

  
      // Create a form and append the image data
      var form = document.createElement('form');
      form.action = '/vote';
      form.method = 'POST';
      // form.enctype = 'multipart/form-data'; // Set the enctype attribute
  
      var input = document.createElement('input');
      input.type = 'hidden';
      input.name = 'id';
      input.value = id;
  
      form.appendChild(input);
      document.body.appendChild(form);
  
      // Submit the form
      form.submit();

    }

    function noSubmission() {
      alert("You can't vote unless you submit a drawing!");
    }

  </script>

  <!-- SHRINK TEXT TO FIT -->
  <script>
    // make it fit inside footer by shrikning font size
    function shrinkTextToFit(element) {
      const maxFontSize = 12; // Maximum font size in pixels
      const minFontSize = 10; // Minimum font size in pixels

      let fontSize = maxFontSize;
      element.style.fontSize = fontSize + "px";
    
      while (element.scrollHeight > element.offsetHeight && fontSize > minFontSize) {
        fontSize--;
        element.style.fontSize = fontSize + "px";
      }
    
      // Check if the text still overflows after reducing the font size
      if (element.scrollWidth > element.offsetWidth) {
        const scaleFactor = element.offsetWidth / element.scrollWidth;
        fontSize = Math.floor(fontSize * scaleFactor);
        element.style.fontSize = fontSize + "px";
      }
    }

    //shrink footer text to fit
    const cardFooters = document.getElementsByClassName("card-footer");
    // Set random descriptions for each span element
    for (let i = 0; i < cardFooters.length; i++) {
      shrinkTextToFit(cardFooters[i]);
    }

  </script>


{% endblock %}

