{% extends 'base.html' %}

{% block content %}


<div class=" align-items-center min-vh-100 gradient-background container">

    <div class='row justify-content-center my-5 display-flex'>

      <div class='col-auto mr-1 mb-3 text-center index-container align-items-center justify-content-center' style='height:fit-content;' >
      
      
        <img class="mb-4" src="{{ view_user[2] }}" alt="" width="200px" height="200px" id='profile-pic' style='background-color:white;'>
        <h1 class="custom-title">{{ view_user.username }}</h1>
        <br>

      </div>
      <div class='col-auto container text-center index-container' style='height:fit-content;'>
      
        <!--Title-->
        <div class="text-center custom-title">
            <!--<span class=''> Today, finish this drawing of a:</span>-->
            <img src="/static/media/their_creations.png" alt="Your Creations" border="0">
        </div>
        <!--Drawing-->
        {% for image in images %}
      
        <div class="card box-outline-card mb-5" style='height:fit-content;'>
          <div class='podium bubblegum' style='background: white; text-shadow: none !important;'>
            {{ image[4] }}
          </div>
          <!-- Star & Body -->
          <div class="card-body want-to-invert">
            <img src="{{ image[1] }}" alt="Submission Image" class='submission-image'>
          </div>
          <!-- Footer -->
          <div class="card-footer"><span class='image-description'>{{ image[3] }}</span></div>
        </div>
        {% endfor %}
      </div>
    </div>


</div>



{% endblock %}
